{% extends "base.html" %}
{% block content %}

 <div class="no-bottom no-top" id="content">
      {% load static %}
            <div id="top"></div>
            <section id="section-hero" aria-label="section" class="full-height vertical-center" data-bgimage="url(images/background/7.jpg) bottom">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="spacer-double sm-hide"></div>
                        <div class="col-lg-6">
                            <h4><span class="id-color">Plan your trip now</span></h4>
                            <div class="spacer-10"></div>
                            <h1>Explore the world with comfortable car</h1>
                            <p class="lead">Welcome to Your Rentaly Car Site! We are your one-stop destination for all your car rental needs. With our user-friendly website, we make it easy for you to find the perfect vehicle for your travel plans.</p>

                            <a class="btn-main" href="#section-cars">Choose a Car</a>&nbsp;&nbsp;&nbsp;<a class="btn-main btn-black" href="https://play.google.com/store/apps/details?id=com.ehi.enterprise.android&hl=fr&gl=US">Get the App</a>
                        </div>

                        <div class="col-lg-6">
                            <img src=" {% static 'images/misc/car-2.png' %}" class="img-fluid" alt="">
                        </div>

                    </div>
                </div>
            </section>

            <section id="section-cars" class="no-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 offset-lg-3 text-center">
                            <h2>Our Vehicle Fleet</h2>
                            <p>So, why wait? Start exploring our extensive collection of cars today and book your next adventure with Rentaly Car Site. We look forward to being your trusted partner in all your car rental needs.</p>
                            <div class="spacer-20"></div>
                        </div>

                        <div class="clearfix"></div>

                        <div id="items-carousel" class="owl-carousel wow fadeIn">

                            

                    {% for v in voitures %}
                            <div class="col-lg-12">
                                <div class="de-item mb30">
                                    <div class="d-img">
                                        <img src="{% static v.photo1 %}" class="img-fluid" alt="">
                                    </div>
                                    <div class="d-info">
                                        <div class="d-text">
                                            <h4>{{v.Nom}}</h4>
                                            <div class="d-item_like">
                                                <i class="fa fa-heart"></i><span>74</span>
                                            </div>
                                            <div class="d-atr-group">
                                                <span class="d-atr"><img src="{% static 'images/icons/1.svg' %} " alt="">{{v.Siege}}</span>
                                                <span class="d-atr"><img src="{% static 'images/icons/2.svg' %}" alt="">{{v.Porte}}</span>
                                                <span class="d-atr"><img src="{% static 'images/icons/3.svg' %}" alt="">{{v.Bagage}}</span>
                                                <span class="d-atr"><img src="{% static 'images/icons/4.svg' %}" alt="">{{v.Bdy}}</span>
                                            </div>
                                            <div class="d-price">
                                                Daily rate from <span>${{v.Daily_rate}}</span>
                                                <a class="btn-main" href="{%url 'cardetail' v.id %}">Rent Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}

                       <!--     <div class="col-lg-12">
                                <div class="de-item mb30">
                                    <div class="d-img">
                                        <img src=" {% static 'images/cars/bmw-m5.jpg' %} " class="img-fluid" alt="">
                                    </div>
                                    <div class="d-info">
                                        <div class="d-text">
                                            <h4>BMW M2</h4>
                                            <div class="d-item_like">
                                                <i class="fa fa-heart"></i><span>36</span>
                                            </div>
                                            <div class="d-atr-group">
                                                <span class="d-atr"><img src=" {% static 'images/icons/1.svg' %} " alt="">5</span>
                                                <span class="d-atr"><img src=" {% static 'images/icons/2.svg' %} " alt="">2</span>
                                                <span class="d-atr"><img src=" {% static 'images/icons/3.svg' %} " alt="">4</span>
                                                <span class="d-atr"><img src=" {% static 'images/icons/4.svg' %} " alt="">Sedan</span>
                                            </div>
                                            <div class="d-price">
                                                Daily rate from <span>$244</span>
                                                <a class="btn-main" href="car-single.html">Rent Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="de-item mb30">
                                    <div class="d-img">
                                        <img src=" {% static 'images/cars/ferrari-enzo.jpg' %} " class="img-fluid" alt="">
                                    </div>
                                    <div class="d-info">
                                        <div class="d-text">
                                            <h4>Ferarri Enzo</h4>
                                            <div class="d-item_like">
                                                <i class="fa fa-heart"></i><span>85</span>
                                            </div>
                                            <div class="d-atr-group">
                                                <span class="d-atr"><img src="{% static 'images/icons/1.svg' %}" alt="">5</span>
                                                <span class="d-atr"><img src="{% static 'images/icons/1.svg' %}" alt="">2</span>
                                                <span class="d-atr"><img src="{% static 'images/icons/1.svg' %}" alt="">4</span>
                                                <span class="d-atr"><img src="{% static 'images/icons/1.svg' %}" alt="">Exotic Car</span>
                                            </div>
                                            <div class="d-price">
                                                Daily rate from <span>$167</span>
                                                <a class="btn-main" href="car-single.html">Rent Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="de-item mb30">
                                    <div class="d-img">
                                        <img src="images/cars/ford-raptor.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="d-info">
                                        <div class="d-text">
                                            <h4>Ford Raptor</h4>
                                            <div class="d-item_like">
                                                <i class="fa fa-heart"></i><span>59</span>
                                            </div>
                                            <div class="d-atr-group">
                                                <span class="d-atr"><img src="images/icons/1.svg" alt="">5</span>
                                                <span class="d-atr"><img src="images/icons/2.svg" alt="">2</span>
                                                <span class="d-atr"><img src="images/icons/3.svg" alt="">4</span>
                                                <span class="d-atr"><img src="images/icons/4.svg" alt="">Pickup Truck</span>
                                            </div>
                                            <div class="d-price">
                                                Daily rate from <span>$147</span>
                                                <a class="btn-main" href="car-single.html">Rent Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="de-item mb30">
                                    <div class="d-img">
                                        <img src="images/cars/mini-cooper.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="d-info">
                                        <div class="d-text">
                                            <h4>Mini Cooper</h4>
                                            <div class="d-item_like">
                                                <i class="fa fa-heart"></i><span>19</span>
                                            </div>
                                            <div class="d-atr-group">
                                                <span class="d-atr"><img src="images/icons/1.svg" alt="">5</span>
                                                <span class="d-atr"><img src="images/icons/2.svg" alt="">2</span>
                                                <span class="d-atr"><img src="images/icons/3.svg" alt="">4</span>
                                                <span class="d-atr"><img src="images/icons/4.svg" alt="">Hatchback</span>
                                            </div>
                                            <div class="d-price">
                                                Daily rate from <span>$238</span>
                                                <a class="btn-main" href="car-single.html">Rent Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="de-item mb30">
                                    <div class="d-img">
                                        <img src="images/cars/vw-polo.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="d-info">
                                        <div class="d-text">
                                            <h4>VW Polo</h4>
                                            <div class="d-item_like">
                                                <i class="fa fa-heart"></i><span>79</span>
                                            </div>
                                            <div class="d-atr-group">
                                                <span class="d-atr"><img src="images/icons/1.svg" alt="">5</span>
                                                <span class="d-atr"><img src="images/icons/2.svg" alt="">2</span>
                                                <span class="d-atr"><img src="images/icons/3.svg" alt="">4</span>
                                                <span class="d-atr"><img src="images/icons/4.svg" alt="">Hatchback</span>
                                            </div>
                                            <div class="d-price">
                                                Daily rate from <span>$106</span>
                                                <a class="btn-main" href="car-single.html">Rent Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->

                        </div>

                    </div>
                </div>
            </section>

            <section id="section-img-with-tab" data-bgcolor="#f8f8f8">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-5 offset-lg-7">

                            <h2>Only Quality For Clients</h2>
                            <div class="spacer-20"></div>

                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                              <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Luxury</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Comfort</button>
                              </li>
                              <li class="nav-item" role="presentation">
                                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Prestige</button>
                              </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                              <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"><p>Luxury car is synonymous with opulence and extravagance, offering the utmost in comfort, style, and advanced features. Crafted with meticulous attention to detail, luxury cars provide a seamless driving experience with plush interiors, high-quality materials, and cutting-edge technology. These vehicles often boast powerful engines, refined handling, and a smooth ride, ensuring a premium driving experience that caters to both the driver and passengers' comfort.</p></div>
                              <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab"><p>Comfort cars prioritize creating a serene and pleasant environment for occupants during the journey. These vehicles excel in providing a relaxed and smooth ride, focusing on minimizing road noise, vibrations, and harshness. Comfort cars often feature spacious interiors, comfortable seating, and advanced suspension systems that absorb bumps and irregularities on the road. Additionally, they may offer enhanced climate control, ergonomic seating positions, and a host of convenience features to ensure a tranquil and enjoyable travel experience.</p></div>
                              <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab"><p>Prestige cars represent the epitome of automotive excellence and exclusivity. These vehicles are associated with luxury brands and prestigious marques, representing a symbol of status and sophistication. Prestige cars blend exceptional performance, elegant design, and innovative technology. With powerful engines, precise handling, and distinctive styling, these cars exude prestige and command attention wherever they go. Owning a prestige car is a statement of success and a reflection of refined taste, capturing the essence of automotive excellence.</p></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="image-container col-md-6 pull-right" data-bgimage="url({% static 'images/background/5.jpg' %})  center"></div>
            </section>

            <section>
                <div class="container">
                    <div class="row">
                    <div class="col-lg-3">
                        <h2>Explore the world with comfortable car</h2>
                        <div class="spacer-20"></div>
                    </div>
                    <div class="col-md-3">
    <i class="fa fa-trophy de-icon mb20"></i>
    <h4>First Class Services</h4>
    <p>Experience top-notch services that exceed your expectations. Our dedicated team ensures impeccable quality and attention to detail, providing you with a truly exceptional experience.</p>
</div>
<div class="col-md-3">
    <i class="fa fa-road de-icon mb20"></i>
    <h4>24/7 Road Assistance</h4>
    <p>Rest assured knowing that our reliable 24/7 road assistance is just a phone call away. Our experienced professionals are ready to help you in case of any unforeseen circumstances, ensuring your journey is smooth and worry-free.</p>
</div>
<div class="col-md-3">
    <i class="fa fa-map-pin de-icon mb20"></i>
    <h4>Free Pick-Up & Drop-Off</h4>
    <p>Convenience at your doorstep! Take advantage of our complimentary pick-up and drop-off service. We'll save you time and hassle by collecting and returning your vehicle at your preferred location, making your experience effortless and convenient.</p>
</div>

                </div>
                </div>
            </section>

            <section id="section-testimonials" class="no-top no-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="de-image-text">
                                <div class="d-text">
                                    <div class="d-quote id-color"><i class="fa fa-quote-right"></i></div>
                                    <h4>Excellent Service! Car Rent Service!</h4>
                                    <blockquote>
                                       I have been using Rentaly for my Car Rental needs for over 5 years now. I have never had any problems with their service. Their customer support is always responsive and helpful. I would recommend Rentaly to anyone looking for a reliable Car Rental provider.
                                       <span class="by">Stepanie Hutchkiss</span>
                                   </blockquote>
                                </div>
                                <img src="{% static 'images/testimonial/1.jpg' %} " class="img-fluid" alt="">
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="de-image-text">
                                <div class="d-text">
                                    <div class="d-quote id-color"><i class="fa fa-quote-right"></i></div>
                                    <h4>Excellent Service! Car Rent Service!</h4>
                                    <blockquote>
                                       We have been using Rentaly for our trips needs for several years now and have always been happy with their service. Their customer support is Excellent Service! and they are always available to help with any issues we have. Their prices are also very competitive.
                                       <span class="by">Jovan Reels</span>
                                   </blockquote>
                                </div>
                                <img src="{% static 'images/testimonial/2.jpg' %} " class="img-fluid" alt="">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="de-image-text">
                                <div class="d-text">
                                    <div class="d-quote id-color"><i class="fa fa-quote-right"></i></div>
                                    <h4>Excellent Service! Car Rent Service!</h4>
                                    <blockquote>
                                       Endorsed by industry experts, Rentaly is the Car Rental solution you can trust. With years of experience in the field, we provide fast, reliable and secure Car Rental services.
                                       <span class="by">Kanesha Keyton</span>
                                   </blockquote>
                                </div>
                                <img src="{% static 'images/testimonial/3.jpg' %} " class="img-fluid" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section id="section-news">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 offset-lg-3 text-center">
                            <h2>Latest News</h2>
                            <p>In the realm of automotive innovations, the latest news unveils sleek electric cars, harmonizing sustainability and performance on the roads of tomorrow.</p>
                            <div class="spacer-20"></div>
                        </div>

                        <div class="col-lg-4 mb10">
                                    <div class="bloglist s2 item">
                                            <div class="post-content">
                                                <div class="post-image">
                                                    <div class="date-box">
                                                        <div class="m">10</div>
                                                        <div class="d">MAR</div>
                                                    </div>
                                                    <img alt="" src="{% static 'images/news/pic-blog-1.jpg' %} " class="lazy">
                                                </div>
                                                <div class="post-text">
                                                    <h4><a href="news-single.html">Enjoy Best Travel Experience<span></span></a></h4>
                                                    <p>Unleash your spirit, let wanderlust guide,
Discover new lands, with each step, feel alive.
Indulge in cultures, savor memories that forever reside.
                                                        </p>

                                                </div>
                                            </div>
                                        </div>
                                </div>

                                <div class="col-lg-4 mb10">
                                    <div class="bloglist s2 item">
                                            <div class="post-content">
                                                <div class="post-image">
                                                    <div class="date-box">
                                                        <div class="m">12</div>
                                                        <div class="d">MAR</div>
                                                    </div>
                                                    <img alt="" src="{% static 'images/news/pic-blog-2.jpg' %} " class="lazy">
                                                </div>
                                                <div class="post-text">
                                                    <h4><a href="news-single.html">The Future of Car Rent<span></span></a></h4>
                                                    <p>Revolution on wheels, a new era unfurls,
Where cars self-drive, changing the way we swirl.
Effortless rentals, convenience in a whirl.</p>
                                                </div>
                                            </div>
                                        </div>
                                </div>

                        <div class="col-lg-4 mb10">
                        <div class="bloglist s2 item">
                                <div class="post-content">
                                    <div class="post-image">
                                        <div class="date-box">
                                            <div class="m">14</div>
                                            <div class="d">MAR</div>
                                        </div>
                                        <img alt="" src="{% static 'images/news/pic-blog-3.jpg' %}" class="lazy">
                                    </div>
                                    <div class="post-text">
                                        <h4><a href="news-single.html">Holiday Tips For Backpacker<span></span></a></h4>
                                        <p>Pack light, wander far, embrace the unknown,
Seek hidden gems, let curiosity be your backbone.
Connect with locals, create memories to call your own.</p>
                                        <a class="btn-main" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="section-fun-facts" class="bg-color text-light">
                <div class="container">
                    <div class="row g-custom-x force-text-center">
                        <div class="col-md-3 col-sm-6 mb-sm-30">
    <div class="de_count wow fadeInUp">
        <h3 class="timer" data-to="15425" data-speed="3000">0</h3>
        Trips Powered
        <p class="d-small">Embark on unforgettable journeys, guided by our expertise.</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-sm-30">
    <div class="de_count wow fadeInUp">
        <h3 class="timer" data-to="8745" data-speed="3000">0</h3>
        Happy Customers
        <p class="d-small">Our priority is your satisfaction, creating joy-filled memories.</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-sm-30">
    <div class="de_count wow fadeInUp">
        <h3 class="timer" data-to="235" data-speed="3000">0</h3>
        Fleet Vehicles
        <p class="d-small">Discover a diverse range of well-maintained vehicles for your perfect ride.</p>
    </div>
</div>
<div class="col-md-3 col-sm-6 mb-sm-30">
    <div class="de_count wow fadeInUp">
        <h3 class="timer" data-to="15" data-speed="3000">0</h3>
        Years of Experience
        <p class="d-small">With 15 years of expertise, we guarantee a seamless travel experience.</p>
    </div>
</div>
                    </div>
                </div>
            </section>

            <section aria-label="section" class="pt40 pb40 text-light" data-bgcolor="#181818">
                <div class="wow fadeInRight d-flex">
                  <div class="de-marquee-list">
                    <div class="d-item">
                      <span class="d-item-txt">SUV</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Hatchback</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Crossover</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Convertible</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Sedan</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Sports Car</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Coupe</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Minivan</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Station Wagon</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Pickup Truck</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Minivans</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Exotic Cars</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                     </div>
                  </div>

                  <div class="de-marquee-list">
                    <div class="d-item">
                      <span class="d-item-txt">SUV</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Hatchback</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Crossover</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Convertible</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Sedan</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Sports Car</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Coupe</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Minivan</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Station Wagon</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Pickup Truck</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Minivans</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                      <span class="d-item-txt">Exotic Cars</span>
                      <span class="d-item-display">
                        <i class="d-item-dot"></i>
                      </span>
                     </div>
                  </div>
                </div>
            </section>

        </div>
   {%endblock%}

